<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alterar Aluno</title>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		var dateField = document.getElementById('dataNascimento');
		var currentDate = dateField.value;
		if( currentDate ) {
			var dateParts = currentDate.split('-');
			var formattedDate = dateParts[2]+
			                    '/'+dateParts[1]+'/'+ dateParts[0];
		}
		dateField.value = formattedDate;
	});

</script>
</head>
<body>
	<h1>Alterar Aluno</h1>
	<form action="#" th:action="@{/alunos/update}" th:object="${aluno}"
	   method="post">
	RA:<input type='text' th:field="*{ra}"/><br/>
	Nome:<input type='text' th:field="*{nome}"/><br/>
	Data de nascimento:<input type='text' th:field="*{dataNascimento}"
	   id='dataNascimento'/><br/>
	Renda:<input type='text' th:field="*{renda}"/><br/>
	<button type="submit">Gravar</button>
	</form>
	<a href="/alunos">voltar</a>
</body>
</html>